<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="text-align: center";>
  	<h2>Your OTP code:</h2>
     <p ><%= @pin %></p>
  </body>
</html>